.App {
  font-family: sans-serif;
  text-align: center;
  touch-action: none;
}

.inside {
  height: 50vh;
  width: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  background-color: white;
}
